* {
    color: rgb(116, 112, 112);
}

#win {
    color: orange
}

.cell {
    /* box-shadow: 0px 0px 10px black; */
    /* filter: drop-shadow(0px 5px 10px rgb(65, 65, 156)); */
    font-size: 80px;
    /* color: whitesmoke; */
    width: 100px;
    height: 100px;
    text-align: center;
    border: solid rgb(116, 112, 112);
    ;
    /* background-color: blanchedalmond; */
}

#move {
    padding: 10px;
    width: 160px;
}

#moveOuto {
    padding: 10px;
    width: 160px;
}
.image {
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    border-radius: 50%;
}

#home {
    padding: 10px;
    text-align: left;
}

.playerx {
    position: absolute;
    left: 200px;
    top: 30px;
}

.playerO {
    /* float: left; */
    /* margin-top: 0px; */
    position: absolute;
    left: 200px;
    top: 70px;
    /* margin-left: 180px; */
}




button {
    margin-top: 100px;
    color: orange;
    width: 10%;
    box-shadow: 0px 4px 10px black;
    background-color: rgb(37, 37, 37);
}

p {
    text-align: center;
}

#broder {
    justify-content: center;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, 100px);
}

.contianer {
    /* float: left; */
    display: grid;
    justify-content: center;
}

#win {
    font-size: 30px;
}

.top {
    border-top-style: none;
}

.left {
    border-left-style: none;
}

.right {
    border-right-style: none;
}

.buttom {
    border-bottom-style: none;
}

.button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#again {
    box-shadow: 0px 4px 10px black;
    margin: auto;
    background-color: rgb(37, 37, 37);
    width: 40%;
    height: 120%;
}

body {
    background-color: rgb(43, 41, 41);
    /* background: linear-gradient( rgb(153, 140, 84), rgb(83, 73, 27)); */
    /* background-color: darkslategray; */
    /* background-color: whitesmoke; */
    /* background-color: cadetblue; */
    height: 35em;
    background-size: cover;
}
